<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hacktiv Food</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/restaurant">Restaurant</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/order">Your Order</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Setting
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <br>

    <center>
        <h1>Your Orders!</h1>
    </center>
    <div class="container-fluid">
      <h1>Your Orders!</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Order Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% orders.forEach(order => { %>
            <tr>
              <th scope="row"><%= order.Menu.name_food %></th>
              <td>
                <form action="/order/input/<%= order.MenuId %>" method="POST" style="display:inline;">
                  <input type="hidden" name="action" value="minus">
                  <button class="btn btn-primary">-</button>
                </form>
                <%= order.quantity %>
                <form action="/order/input/<%= order.MenuId %>" method="POST" style="display:inline;">
                  <input type="hidden" name="action" value="plus">
                  <button class="btn btn-primary">+</button>
                </form>
              </td>
              <td><%= order.Menu.price * order.quantity %></td>
              <td>
                <form action="/order/delete/<%= order.MenuId %>" method="POST">
                  <button type="submit" class="btn btn-secondary">Delete Menu</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <h2>Total Price: <%= orders.length > 0 ? orders.reduce((sum, order) => sum + order.Menu.price * order.quantity, 0) : 0 %></h2>
      <form action="/order/complete" method="POST">
        <button type="submit" class="btn btn-success" <%= orders.length === 0 ? 'disabled' : '' %>>Order Now!</button>
    </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>